<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>servlets.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>servlets.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>servlets.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductController</servlet-name>
        <servlet-class>servlets.GetProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>servlets.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>servlets.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductForUpdateController</servlet-name>
        <servlet-class>servlets.GetProductForUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductForDetailsController</servlet-name>
        <servlet-class>servlets.GetProductForDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>servlets.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>servlets.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PutInBasketController</servlet-name>
        <servlet-class>servlets.PutInBasketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromBasketController</servlet-name>
        <servlet-class>servlets.DeleteFromBasketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlets.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductController</servlet-name>
        <url-pattern>/GetProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductForUpdateController</servlet-name>
        <url-pattern>/GetProductForUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductForDetailsController</servlet-name>
        <url-pattern>/GetProductForDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/BuyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutInBasketController</servlet-name>
        <url-pattern>/PutInBasketController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromBasketController</servlet-name>
        <url-pattern>/DeleteFromBasketController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>CategoryController</welcome-file>
    </welcome-file-list>
</web-app>
